[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
        branch = main
[submodule "platinum-blockchain-gui"]
	path = platinum-blockchain-gui
	url = https://github.com/LloydMontgomeryGarmadon/platinum-blockchain-gui.git
