Package: platinum-blockchain-cli
Version: {{ CRYPTOMINES_INSTALLER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Matthew Crazy <crazymathew29@gmail.com>
Description: Cryptomines Blockchain
 Cryptomines Blockchain
 