Package: platinum-blockchain-cli
Version: {{ PLATINUM_INSTALLER_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Matthew Crazy <crazymathew29@gmail.com>
Description: Platinum Blockchain
 Platinum Blockchain
 